<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.rsupport.notice.mapper.MemberMapper"> 
	<select id="selectMemberList" resultType="com.rsupport.notice.dto.MemberDto"> 
		SELECT * FROM MEMBER 
	</select> 
	
	<select id="selectIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		  FROM MEMBER
		 WHERE ID = #{id}
	</select>
	
	<insert id="insertMember" parameterType="com.rsupport.notice.dto.MemberDto">
		INSERT 
		  INTO MEMBER
		       (ID, PW, NAME, GENDER, EMAIL, ROLE, REGDATE)
		VALUES (#{id}, #{pw}, #{name}, #{gender}, #{email}, 'USER', CURRENT_TIMESTAMP)
	</insert>
	
	<select id="loginMember" resultType="com.rsupport.notice.dto.MemberDto">
		SELECT *
		  FROM MEMBER
		 WHERE ID = #{param1}
		   AND PW = #{param2}
	</select>
</mapper>