@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
	font-family: 'NaGo', 'NanumGothic', '나눔고딕', '맑은고딕', 'MalgunGothic';
}
.require {
	color: red;
}
.checkText {
	padding-left: 10px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 100px;
}
a{
	color: #666;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.to-top {
    background-color: #333333;
    border-radius: 4px 4px 0 0;
    bottom: 0;
    color: #FFFFFF !important;
    display: block;
    height: 35px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 48px;
    opacity: 0.9;
    z-index: 10000;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.to-top:hover {
    background-color: #eb2224;
    color: #FFFFFF;
}
.to-top > i {
	padding-top: 10px;
}
.notice-insert table {
	width: 100%;
}

.notice-insert table td {
	padding: 5px;
}
.notice-insert table td:first-of-type {
	width: 15%;
}
.notice-insert table td:last-of-type {
	width: 75%;
}
.notice-insert #smartEditor {
	width: 100%;
}
.mb50 {
	margin-bottom: 50px;
}
.mt50 {
	margin-top: 50px;
}
.mt80 {
	margin-top: 80px;
}
.mt100 {
	margin-top: 100px;
}
.pt100 {
	padding-top: 100px;
}
pre {
	border: 0 !important;
}
.btn {
    font-size: 13px;
}
.header {
    border-bottom: 4px solid orange;
}
.text-muted {
	font-family: 'Lobster', cursive;
	font-size: 34px;
    color: #456;
}
.body-min-height {
	min-height: 750px;
}